{% extends "layout.jinja" %}

{% block body %}
	{% for i in pins %}
			<div class="pin"
				style="top: 40%; left: 40%; height: {{ i }}px;">
				Some content here
			</div>
		{% endfor %}
{% endblock %}